body{
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.text-primary{
    color: rgb(255, 111, 0);
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#888181;
    text-align: center;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
    
}
nav a{
    text-decoration: none;
    color: gray;
}
.btn-primary{
    border-radius: 5px;
    background:rgb(255, 111, 0);
    border: 0;
    padding: 15px 35px;
    color: rgba(255, 255, 255, 0.861);
    font-size: 20px;
    text-align: center;
}
.header{
    background: rgba(255, 247, 230, 0.938);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: bottom;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    color: #474747;
    margin-top: 0px;
    margin-bottom: 10px;
}
.about{
    margin-top: 130px;
    background-color: rgb(248, 238, 227);
    padding: 130px ;
}
main{
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: ;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 0px;
    font-weight: 200;
    color:#888181;
    /* #888181; */
}
.info-description{
    margin-top: 5px;
}
